.cta{
margin:90px 8%;
padding:70px;
text-align:center;
border-radius:30px;
background:linear-gradient(135deg,#00c6ff,#0072ff);
color:white;
box-shadow:0 20px 50px rgba(0,0,0,.35);
}
.cta h2{
font-size:45px;
margin-bottom:20px;
}
.cta p{
font-size:20px;
margin-bottom:35px;
}
.cta button{
padding:18px 45px;
font-size:18px;
font-weight:bold;
border:none;
border-radius:50px;
cursor:pointer;
transition:.3s;
}
.cta button:hover{
transform:scale(1.08);
}
