.footer{
margin-top:80px;
padding:60px 20px;
text-align:center;
background:rgba(255,255,255,.05);
backdrop-filter:blur(20px);
border-top:1px solid rgba(255,255,255,.15);
}
.footer h2{
font-size:34px;
margin-bottom:15px;
color:#00f7ff;
}
.footer p{
color:#ddd;
}
.footer-links{
display:flex;
justify-content:center;
gap:30px;
margin:25px 0;
}
.footer-links a{
color:white;
transition:.3s;
}
.footer-links a:hover{
color:#00f7ff;
}
.copy{
margin-top:20px;
font-size:14px;
opacity:.7;
}
