.navbar{
position:sticky;
top:20px;
width:92%;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 40px;
backdrop-filter:blur(20px);
background:rgba(255,255,255,.08);
border:1px solid rgba(255,255,255,.2);
border-radius:20px;
z-index:1000;
margin-top:20px;
box-shadow:0 10px 40px rgba(0,0,0,.4);
}
.logo{
font-size:30px;
font-weight:bold;
color:white;
}
.logo span{
color:#00f7ff;
}
.nav-links{
display:flex;
gap:35px;
}
.nav-links a{
color:white;
font-size:18px;
transition:.3s;
font-weight:500;
}
.nav-links a:hover{
color:#00f7ff;
}
.nav-links .active{
color:#00f7ff;
}
.menu-btn{
display:none;
font-size:28px;
background:none;
border:none;
color:white;
cursor:pointer;
}
@media(max-width:768px){
.menu-btn{
display:block;
}
.nav-links{
position:absolute;
top:90px;
left:0;
width:100%;
display:none;
flex-direction:column;
padding:30px;
background:rgba(0,0,0,.85);
backdrop-filter:blur(20px);
border-radius:20px;
}
.nav-links.active{
display:flex;
}
}
